*{
  box-sizing: border-box;
  font-family: var(--secondaryFont);
  font-weight: normal;
  margin: 0;
  padding: 0;
}
body{
  background: white;
  overflow-x:hidden;
}

main{
  padding-top: 80px;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
  max-width: 1920px;
  margin: auto;
  width: 100%;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}

.slick-track{
  display: flex;
}

.slick-list{
  overflow: hidden;
}

button{
  cursor: pointer;
}

.overflow{
  overflow: hidden
}

a{
  text-decoration: none;
  cursor: pointer;
}

li, il{
  list-style-type: none;
}

a,p,ul,li{
  font-family: var(--mainFont);
  font-weight: bold;

}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1{
  font-family: 'Conv_Zaychik-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  color: #F1F2F6;
}

.orange__btn{
  font-family: 'BluecurveRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 113.5%;
  color: darkblue;
  background: #FFA822;
  border-radius: 10px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.35s;
  display: inline-block;
  &:hover{
    background: #F9CC88;
  }
}

h2{
  font-family: 'Conv_Zaychik-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 113.5%;
  color: darkblue;
  text-align: center;
  &.white{
    color: #F1F2F6;
  }
}

h3{
  font-family: 'Conv_Zaychik-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 113.5%;
  text-align: center;
  color: darkblue;
  &.white{
    color: #F1F2F6;
  }
}

h5{
  font-family: 'Conv_Zaychik-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 113.5%;
  color: #27187E;
  transition: 0.1s;

  &.white{
    color: #F1F2F6;
  }
}

h6{
  font-family: 'BluecurveLight';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 113.5%;
  color: #FFFFFF;
  &.blue{
    font-family: BluecurveRegular;
    color: #27187E;
  }
}



p{
  font-family: 'BluecurveRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 113.5%;
  color: darkblue;
  &.white{
    color: #F1F2F6;
  }
  &.big-p{
    font-size: 24px;
  }
  &.medium-p{
    font-size: 20px;
  }
  &.large-p{
    font-size: 28px;
    font-family: BluecurveLight;
    font-weight: 300;
  }
}


.bottom-line{
  font-family: 'BluecurveRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 113.5%;
  border-bottom: 2px solid darkblue;
  color: darkblue;
  transition: 0.35s;
  &:hover{
    color: #F1F2F6;
    border-color: #F1F2F6;
  }
}

h4{
  font-family: 'BluecurveRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 113.5%;
  text-align: center;
  color: darkblue;
}

.accordion-title{
  font-family: 'BluecurveRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 113.5%;
  display: flex;
  align-items: center;
  color: darkblue;
}

.blue-btn{
  cursor: pointer;
  border: 1px solid #27187E;
  border-radius: 10px;
  padding: 14px 30px;
  font-family: 'BluecurveRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 113.5%;
  color: darkblue;
  transition: 0.35s;
  display: inline-block;
  &:hover{
    color: #F1F2F6;
    background: darkblue;
  }
}

.check-box {
  margin-right: 35px;
  .column{
    margin-right: 20px;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 50px;
    padding-top: 12px;
    padding-right: 0;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'BluecurveRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.5%;
    color: #27187E;
    white-space: nowrap;
  }

  .container .check-highload {
    position: absolute;
    opacity: 0;
    width: 40px;
    height: 40px;
  }

  .highload2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #27187E;
    transition: 0.35s;
  }

  /* При наведении указателя мыши перекрашиваем */
  .container:hover .check-highload ~ .highload2 {
    background-color: #27187E;

    svg {
      path {
        stroke: #F1F2F6;
        opacity: 1;
      }
    }
  }

  /* Когда отмечен, то красим в зеленый цвет */
  .container .check-highload:checked ~ .highload2 {
    svg {
      transition: 0.35s;

      path {
        stroke: #ffffff;
      }
    }
  }

  /* Создаем когда отмечено (не видно, когда не отмечено) */
  .highload2 {
    svg {
      opacity: 1;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 70%;
      height: 70%
    }
  }

}

.blue-link{
  font-family: 'BluecurveRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 113.5%;
  text-align: center;
  border-bottom: 2px solid #27187E;
  color: #27187E;
  transition: 0.35s;
  &:hover{
    border-color: #F1F2F6;
    color: #F1F2F6;
  }
}

.error{
  img{
    margin: -140px auto -50px;
    object-fit: cover;
    max-width: 850px;
    max-height: 850px;
  }
  height: 100vh;
  background: #27187E;
}